google-generativeai==0.4.1
jsonschema==4.21.1
langchain==0.1.12
langchain-community==0.0.28
langchain-core>=0.1.35
langchain-experimental==0.0.54
langchain-google-genai==0.0.11
langsmith==0.1.27
matplotlib==3.8.3
numpy==1.26.4
pandas==2.2.1
python-dotenv==1.0.1
seaborn==0.13.2
streamlit==1.32.2
toml==0.10.2
